.companies {
    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;  
        justify-content: space-between;
    margin: 0 0;
    }
    &__list-img {
        transition: 0.4s;
    }
    &__list-img:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    &__list-img:active {
        opacity: 0.5;
    }
    &__list-item {
        min-width: 230px;
        padding-bottom: 40px;
    }
}