.companies {
    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;  
        justify-content: space-between;
        align-items: center;
        margin-bottom: 90px;
        margin-top: 90px;
        @media (max-width: $media-tablet) {
            flex-flow: row wrap;
            justify-content: space-around;
            }
            @media (max-width: $media-mobile) {
            flex-wrap: wrap;
            flex-direction: row;  
            margin-top: 75px;
            margin-bottom: 68px;
            max-width: max-content;
        }
    }
    &__list-item {
        // min-width: 230px;
        padding-bottom: 40px;
            // object-fit: contain;
            width: max-content;
            @media (max-width: $media-tablet) {
            // max-width: 115px;
        }
        @media (max-width: $media-mobile) {
            width: max-content;
        }     
        }
    &__list-img {
        transition: 0.4s;
        margin: 0 0;
        @media (max-width: $media-tablet) {
            max-width: 115px;
            max-height: 33px;
        }
        @media (max-width: $media-mobile) {
            width: max-content;
        }     
    }
    &__list-img:hover {
        cursor: pointer;
        opacity: 0.7;
    }
    &__list-img:active {
        opacity: 0.5;
    }
        &__header {
        display: none;
    }
}