.container {
  max-width: 1180px;
  margin: 0 auto;
  @media (max-width: $media-tablet) {
    margin-left: 60px;
  //  width: 648px;
  }
  @media (max-width: $media-mobile) {
    // min-width: max-content;
  }
}