
/* ___________footer */
.footer {
  background-color: #434343;
  width: 100%;
  min-height: 556px;
  &__column {
    max-width: 384px;
    width: 100%;
    margin: 100px 30px 0px 0px;
  }
  &__column-header {
    color: #AAAAAA;
    border-bottom: 1px solid #666666;
    padding-bottom: 22px;
    margin-bottom: 28px;
    font-size: 16px;
    font-weight: 400;
  }
  &__column-item {
    padding-bottom: 15px;
  }
  &__column-list-link{
    color: #FFFFFF; 
  }
  &_column-list-link:hover {
    opacity: 0.5;
  }
  &__column-list-link:active {
    opacity: 0.2;
  }
  &__connect-form {
    display: flex;
  }
  &__connectColumn-form-button {
    padding-left: 10px;
  }
  &__email {
    color: #EBEBEB;
    font-family: 'OpenSans';
    font-size: 16px;
    display: flex;
    width: 300px;
    border: none;
    background-color: #666666;
    padding-left: 15px;
  }
  &__email::placeholder {
    color:#EBEBEB;
  }
  &__email:hover {
    border: 
    #FFFDFD solid 1px;
    cursor: pointer;
  }
  &__socials {
    display: flex;
    margin-top: 24px;
  }
  &__socials-item {
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
    border-radius: 50%;
    background: #666666;
  }
  &__socials-item:hover {
    opacity: 0.5;
   }
   &__socials-item:active {
     opacity: 0.25;
   }
   &__rating {
    display: flex;
    border-top: 1px solid #666666;
    margin-top: 13px;
    justify-content: space-between;
    padding-top: 22px;
    align-items: center;
  }
}
svg path {
  fill:inherit;
  stroke:inherit;
  stroke-width:inherit;
}

/* _______________stars style */
.rating {
  min-width: 150px;
  display: flex;
  flex-direction: row;
  margin: 0 0;
  padding: 0 0;
  &__input {  
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  &__label {
    padding-top: 5px;
    padding-right: 2px;
  }
  &__label--margin {
    margin-left: 26px;
  }
  &__label:hover {
    cursor: pointer;
  }
  &__label:after {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    padding-right: 18px;
    background-image: url(../img/icons/star.svg);
    background-repeat:no-repeat;
  }
  &__fieldset {
    min-width: 100px;
    border: none;
    padding: 0 0;
    margin-left: 26px;
    margin: 0 0;
    color: #FFFFFF;
  }
  &__fieldset:hover, 
  &__fieldset:active {
    color: #C29974;
    cursor: pointer;
  }
  &__copyright {
    color: #ffffff;
    margin: 0 0;
    margin-left: 45px;
    margin-bottom: 4px;
  }
  &__meta {
    display: flex;
    margin: 0 0;
    margin-right: 80px;
  }
  &__link {
   color: #A2A2A2; 
   margin-bottom: 2px;
  }
  &__link:hover,
  &__link:active {
    text-decoration: underline;
  }
}
.rating__input,
.rating__label {
  float: right;
}

.rating__input:focus + .rating__label:after,
.rating__input:hover + .rating__label:after {
  text-shadow: 0 0 1px #000;
}
.rating__input:focus ~ .rating__label:after,
.rating__input:hover ~ .rating__label:after {
  background-image: url(../img/icons/brown-star.svg);
  transition: 0.2s;
}

.rating__input:checked ~ .rating__label:after {
  background-image: url(../img/icons/gold-star.svg);
}

