$blackC: #1E0606;
.header {
    width: 100%;
    display: flex;
    align-items: center;
    @media (max-width: $media-tablet) {
        margin-top: 35px;
        justify-content: space-between;        
      }
      @media (max-width: $media-mobile) {
        margin: 25px 30px 0;
        padding-bottom: 26px;
      }
    &__contact {
        display: flex;
        align-items: center;
        margin-top: 50px;
        @media ($media-tablet) {
            margin: 0 0;
          }
          @media ($media-mobile) {
            margin: 0 0; 
          }
    }
    &__nav {
        margin-top: 50px;
        transition: 0.4s;

    }
    &__logo {
        margin-top: 50px;
        transition: 0.4s;
        @media (max-width: $media-tablet) {
            margin: 0 0;
          }
          @media (max-width: $media-mobile) {
            // height: 22px;
          }
    }
}

.logo:hover,
.nav__list-item:active,
.search-contact__search:hover,
.search-contact__link:hover
 {
    opacity: 0.5;
}
.header__logo:active,
.nav__list-item:active,
.search-contact__search:active,
.search-contact__link:active{
    opacity: 0.25;
}
/* nav */
%equal-font-style {
    font-family: "OpenSans", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    color:  $blackC
}
.nav {
    flex-grow: 2;
    transition:  0.4s;
    @media (max-width: $media-tablet) {
        display: none;
      }
    &__list {
        padding-left: 50px;
        display: flex;
    }
    &__list-item {
        text-transform: uppercase; 
        &:hover {
            opacity: 0.4;
        }
        &:active {
            opacity: 0.2;
        }
        &:last-child {
            @media (max-width: $media-tablet) {
            margin-top: 15px;
            }
        }
        &:last-child > a{
            @media (max-width: $media-tablet) {
            font-weight: bold;
            }
        }
        &__link {
            @media (max-width: $media-tablet) {
            font-size: 16px;
            }
        }
    }
    &__list-link { 
        @extend %equal-font-style;
        margin: 10px;
    } 
    &__menu-btn {
        @media (min-width: 769px) {
            display: none;
          }
        @media (max-width: $media-tablet) {
            display: flex;
            align-items: center;
            margin-left: 30%;
            font-family:  "OpenSans", sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            color: #1E0606;;
            background-color: #fff;
            transition: 0.4s;
            border: none;
          }
    }
}
.search-contact {
    @media (min-width: $media-tablet) {
     
      }
    &__link {
        @extend %equal-font-style;
        font-weight: 700;
    }
    &__search {
        background: none;
        border: none;
        padding: 0;
        padding-right: 3px;
        padding-top: 4px;
    } 
&__search:before {
    content: '';
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
    display: block;
    border: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-right: 23px;
}
}

