*, *:after, *:before {
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

a {
  list-style: none;
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
  margin: 0 0;
}
img {
  display: block;
  @media (max-width: $media-tablet) {
    margin-left: 0;
  }
  // max-width: 100%;
}
.flex-wrapper {
  display: flex;

  @media (max-width: $media-tablet) {
    // flex-wrap: wrap;

  }
  @media (max-width: $media-mobile-landscape) {
    flex-wrap: wrap;
   }
   @media (max-width: 600px) {
    flex-wrap: wrap;
   }
  @media (max-width: $media-mobile) {
    flex-direction: column;
    flex-wrap: wrap;
  }
}