/* breadcrumbs */
.breadcrumbs {
    margin-top: 60px;
}
.breadcrumbs__header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    color: #1E0606;
}

.breadcrumbs__list {
    display: flex;
    width: 1180px;
    padding-top: 14px;
    padding-bottom: 50px;
}

.breadcrumbs__list-item a{
    color: #1E0606;
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    padding-right: 20px;
}

.home:after{
    display: inline-block;
    content: '';
    background-image: url(../img/icons/breadcrumbs-element.svg);
    width: 8px;
    height: 12px; 
    color: #1E0606;
    margin-left: 20px;
    background-repeat: no-repeat;
}

.home:hover {
    opacity: 0.6;
}

.catalog {
    color: #1E0606;
    opacity: 0.5;
}
.catalog:hover {
    opacity: 1;
}

.categoryProducts__list {
    display: flex;
    justify-content: space-between;
}
.categoryProducts__list-item {
    position: relative;
}

.kids {
    background-color: #DBE4DB;
}

.holiday {
    background-color: #EADDD3;
}

.toys {
    background-color: #F8F2DA;
}

.accessories {
    background-color: #D5D4E1;
}

.sale {
    background-color: #F3D0DB;
}

.adults {
    background-color: #E5EAF8;

}  


.left-line {
    margin-right: 300px;
}
.right-line {
    margin: 24px 100px 0 200px;
}
.product-desc {
    max-width: 680px;
    margin: 53px 0 55px 563px;
}

.categoryProducts__list-item-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.categoryProducts__list-item-text:hover,
.categoryProducts__list-item-text:active {
    text-decoration: underline;
}

.product-desc__header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;

    text-transform: uppercase;
    color: #1E0606;
    padding-bottom: 12px;
}

.product-desc__text {
    padding-top: 15px;
}