
.contact {
    margin-bottom: 31px;
    display: flex; 
&__header {
  display: none;
}
    &__form-text {
        margin-left: 120px;
    }
      &__text {
        min-width: 410px;
        margin-bottom: 20px;
        margin-left: 0;
      }
      &__offer {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
        color: #C29974;
      }
      &__form {
        padding: 40px 40px;
        margin: 0 0;
      }
}
