@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";

/*
  Import all other blocks
*/

@import "_blocks/container";
@import "_blocks/header";
@import "_blocks/footer";
@import "_blocks/popup";
@import "_blocks/link-btn";
@import "_blocks/pagination";
@import "_blocks/breadcrumbs";
@import "_blocks/prod";
@import "_blocks/companies";

@import "contact";
@import "catalog";
@import "toys";
@import "blog";
@import "fonts";
@import "animation";

$brownC: #725F5B;
$whiteC: #FFFFFF;
$blackC: #1E0606;
$transition: 0.4s;

.banner {
    width: 100%;
    // height: max-content;
   &__subtitle {
       position: relative;
       padding: 14px;
       }  
   }
.banner-content {
    position: relative;
    flex-wrap: wrap;
    display: flex;
    background-color: #EEE4DB;
    margin-top: 60px;
    &__header {
       display: none; 
    }
   &__slider {
       padding: 18px 44px 0 28px;
       margin: 0 0;
       @media (max-width: $media-tablet) {
        // padding: 17px 0 0 0;
      }
      @media (max-width: 495px) {
        margin: 0 auto;
        // order: 2;
      }
   }
   &__num {
           font-family: 'Montserrat';
           font-style: normal;
           font-weight: 200;
           font-size: 60px;
           line-height: 74px;
           color: #1E06060D;
           @media (max-width: $media-tablet) {
            font-size: 48px;
            line-height: 58px;
          }
       }
       &__slider-list {
           line-height: 12px;
           padding-left: 2px;
           @media (max-width: $media-tablet) {
            line-height: 12px;
          }
       }
       &__slider-switch {
           background-color: #D6CAC2;
           width: 32px;
           height: 3px;
           border: none;
           @media (max-width: $media-tablet) {
            width: 27px;
            margin-left: 0;
          }
           }
           &__slider-switch:hover {
               cursor: pointer;
               background-color: $brownC;
               }
   &__slider-wrap {
       width: 32px;
       height: 3px;
       &:hover {
           background-color: $brownC;
            }  
   }
}
.active,
.banner-content__slider-switch:active {
    background-color: rgba(30, 6, 6, 0.6);
}

.banner-text {
    margin: 0 0;
    max-width: 350px;
    padding-bottom: 0;
    padding-top: 0;
    @media (max-width: $media-tablet) {
        padding-left: 11px;
      }
      @media (max-width: 635px) {
        padding: 0px 0px 0px 20px;
        order: 1;
        align-self: flex-end;
      }
&__title {
   font-family: 'Montserrat';
   font-weight: 700;
   font-size: 40px;
   line-height: 110%;
   padding: 65px 5px 16px 0;
   margin-bottom: 0;
   @media (max-width: $media-tablet) {
    padding-top: 0px;
  }
   @media (max-width: $media-mobile-landscape) {
    max-width: 276px;
    font-size: 36px;
    line-height: 40px;
    padding-top: 0;
  } 
}
&__subtitle {
   font-family: 'CrimsonText';
   font-style: italic;
   font-weight: 400;
   font-size: 20px;
   line-height: 26px;
   padding-bottom: 21px; 
   @media (max-width: $media-mobile-landscape) {
    font-size: 18px;
    line-height: 24px;
    margin: 15px 0 15px 0;
  }     
}
&__img {
    position:relative;
    bottom: 90px;
    right: 100px;
    width: 636px;
    height: 489px;
    z-index: 2;
   @media (max-width: 1160px) {
    right: 2%;
  }
  @media (max-width: $media-tablet) {
    right: 1.5%;
  }
  @media (max-width: 635px) {
    right: 0;
    z-index: 0;
  }
}
}
.banner-subtitle {
   position: relative;
   text-align: center;
   bottom: 42px;
   font-weight: 700;
   color: #FFFFFF;
   background-color: #C29974;
   padding: 14px;
   z-index: 2;
   font-family: 'OpenSans';
   font-style: normal;
   font-size: 12px;
   line-height: 14px;
   text-transform: uppercase;
}
input[name="button"] {
    visibility: hidden;
}  

//  /* category-products */
 .category-products {
    margin-bottom: 80px;
    overflow: hidden;
     @media (max-width: $media-tablet-landscape) {
        margin-bottom: 60px;
      }
      @media (max-width: $media-mobile-landscape) {
        margin-bottom: 60px;
      }
     &__header {
        color: $blackC; 
        padding: 0px 0px 0px;
        @media (max-width: $media-tablet-landscape) {
            margin-top: 60px;
            margin-bottom: 20px;
          }
          @media (max-width: $media-tablet) {
            margin-top: 60px;
            margin-bottom: 20px;
          }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        width: 1180px;
        @media (max-width: $media-tablet) {
            margin-top: 24px;
          }
            @media (max-width: $media-mobile-landscape) {
              margin-top: 20px;
          }
    }
    &__item {
        position: relative;
    }
    &__navigation {
        margin: 0 0;
        padding-top: 30px;
        display: flex;
    }
 }
 .navigation {
    width: 680px;
    &__button {
        border: none;
        background-color: transparent;
        padding: 0 5px 0 0;
        margin: 0 0;
    }
    &__button:before {
        content: '';
        background-repeat: no-repeat;
        width: 38px;
        height: 38px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        background-position: center;
        background-color: rgba(112, 187, 220, 0.2);   
    } 
    &__button--prev:before {
        background-image: url(../img/icons/blue-arrow-left.svg);
        transition: top 0.4s ease 1s;
    } 
    &__button--prev:hover:before {
            background-image: url(../img/icons/arrow-hover.svg);
            transform: scaleX(-1);
        }
    &__button--prev:active:before {
            background-image: url(../img/icons/arrow-active.svg);
            transform: scaleX(-1);
        }
    &__button--next:before {
        background-image: url(../img/icons/blue-arrow-right.svg);
        transition: 0.4s;
    }
    &__button--next:hover:before {
        background-image: url(../img/icons/arrow-hover.svg);
    }
    &__button--next:active:before {
        background-image: url(../img/icons/arrow-active.svg);
    }   
    &__text {
        // width: 600px;
        padding-left: 14px;
        margin: 0 0;
    }
 }
// //  /* delivery */
 .delivery {
     display: flex;
     flex-direction: row;
     width: 100%;
     @media (max-width: $media-tablet) {
        // gap: 8.5%;
        }
      @media (max-width: $media-mobile-landscape) {
    flex-direction: column;
      }
     &__img {
        margin: 0 0;
    }
    &__info {
        width: 40%;
        @media (max-width: $media-tablet) {
          padding-top: 28px;
          width: 48%;
          }
        @media (max-width: $media-mobile-landscape) {
        width: 100%;
        }
    }
   
    &__header {
        padding-top: 30px;
        padding-bottom: 6px;
        padding-left: 60px;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__text {
        padding-top: 16px;
        padding-left: 60px;
    }
    &__link {
        position: relative;
        top: 34px;
        left: 60px;
    }
 }
 .menu {
    &__page {
        max-width: 326px;
        height: 56px;
        display: flex;
        transition: 0.4s;
    }
 &__button {
    font-family: 'CrimsonText';
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    padding: 9px 180px 8px 60px;
    color: $blackC;
    margin: 0 0;
}
&__button:hover {
    font-family: 'CrimsonText';
    font-style: italic;
    font-weight: bold;
}
&__page:active {
    background-color: rgba(112, 187, 220, 0.2);
    font-weight: 700;
    opacity: 0.7;
}
&__page:hover {
    background-color: rgba(112, 187, 220, 0.2);
}

 .delivery__menuList-button:hover {
    font-weight: 700;
}
 }
// //  /* companies */
 .companies {
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 115px;
        margin-top: 90px;
        @media (max-width: $media-mobile-landscape) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;  
            justify-content: space-between;
          }
          @media (max-width: $media-mobile) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;  
         
            justify-content: space-between;

            margin-top: 75px;
            margin-bottom: 68px;
            max-width: 150px;

            gap: 70px;
      }
    }
    &__list-item {
       object-fit: contain;
       width: max-content;
       @media (max-width: $media-tablet-landscape) {
        gap: 70px;
        max-width: 150px;
    }
    @media (max-width: $media-mobile) {
        width: max-content;
    }   
      }
        &__header {
     display: none;
 }
 }

// //  /* infoDesignLifeKids */
 .buy-now {
     margin: 0 0;
     margin-right: 57px;
     width: 543px;
     background-color: #E1F0F7;
     height: 100%;
     padding-bottom: 35px;
     @media (max-width: $media-tablet) {
     }
     @media (max-width: $media-mobile-landscape) {
        margin-bottom: 60px;
     }
     @media (max-width: $media-mobile) {
        margin-bottom: 60px;
     }


     &__subtitle {
        font-family: 'CrimsonText';
        font-style: italic;
        font-weight: 400;
        font-size: 26px;
        line-height: 34px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-top: 10px;
    }
    &__desc {
        max-width: 510px;
        margin: 0 0;
        padding-left: 30px;
        margin-bottom: 29px;
    }
    &__button {
        margin-left: 30px;
    }
 }
 .buy-now__header, .contacts__header{
     padding-left: 30px;
     margin-top: -25px;
 }
//  /* infoContacts */
 .contacts {
    margin: 0 0;
    max-width: 483px;
    &__header {
        margin-bottom: -22px; 
     }
    &__text {
        margin: 0 0;
        width: 543px;
        padding: 41px 30px 103px 30px;
        background-color: #E1F0F7;
    }
    &__map {
        padding-left: 30px;
        margin-top: -72px; 
        margin-bottom: 33px;
    }
 }
// // scroll 
.scroll-off {
	position: fixed;
	left: 30px;
	top: 30px;
}
.scroll-on {
	position: fixed;
	left: 30px;
	top: 60px;
	pointer-events: none;
}
.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
