/*________________________options */
.options {
    max-width: 100% ;
    min-height: 254px;
    background-color: rgba(125, 151, 218, 0.2);
    &__form {
        display: flex;
            padding-top: 41px;
     }
     &__header {
         margin: 0 0;
         padding: 0 0;
         font-family: 'OpenSans';
         font-style: normal;
         font-weight: 700;
         font-size: 16px;
         line-height: 22px;
         color: #1E0606;
     }  
&__filter {
    border: none;
    display: flex;
    flex-direction: column;
}
&__amount {
    padding: 0 0 0 69px;
    margin: 0;
}
&__button {
    background-color:#000000; 
    display: flex;
    align-items: center;
    padding: 9px 22px;
    width: 95px;
    height: 40px;
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 38px;
    margin-left: 60px;
    border: none;
}
&__button:hover {
    cursor: pointer;
    background-color: #C29974;
    border: none;
}
&__button:active {
    background-color: #CFAF91;
    transition: 0.2s;
}
&__button:disabled {
    background-color: #C7C1C1;
}
}

.range {
    margin: 0 0;
    padding: 0 0;
    min-width: 208px;
    &__input {
        // -webkit-appearance: none;
         background: rgba(00, 00, 00, 0.5);
         width: 188px;
         height: 4px;
         position: relative;
         margin-top: 25px;
         margin-left: 5px;
     }
     &__input[type="range"]::-webkit-slider-thumb {
         -webkit-appearance: none;
         width: 24px;
         height: 24px;
         border-radius: 50%;
         background: #FFFFFF;
         border: 8px solid #C29974;
         cursor: pointer;
     }
     &__input[type="range"]::-webkit-slider-thumb:hover {
         opacity: 0.8;
     }
     &__label {
         display: flex;
         justify-content: space-between;
         margin: 0;
         min-width: 110px;
     }
     &__num {
        display: flex;
        justify-content: space-between;
        margin: 0 0;
    }
    &__min,
    &__max {
        margin: 17px 0;
    }
}

.color {
    margin-left: 95px;
    padding: 0 0;
    margin-right: 85px;
    &__header {
        padding-right: 50px;
    }
    &__item {
        padding-top: 15px;
        padding-left: 12px;
    } 
&__checkbox[type="checkbox"] {
    opacity: 0;
}
&__checkbox-label {
    position: relative;
}
/* ________________пустой чекбокс */
&__checkbox-label:before {
    position: absolute;
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    background-position: center;
    border: #C29974 2px solid;
    border-radius: 2px;
    cursor: pointer; 
    margin-left: -30px;
    margin-top: 1px;
}
/*_________________заполненный чекбокс*/
&__checkbox-label:after{
    position: absolute;
    content: "";
    display: inline-block;
    height: 19px;
    width: 19px;
    background-color:#FFFFFF;
    border-radius: 3px;
   background-image: url(../img/icons/checkbox-on.svg); 
   left: -30px;
   top: 1px;
}
&__checkbox[type="checkbox"] + 
&__checkbox-label:after {
    content: none;
} 
&__checkbox[type="checkbox"]:checked + 
&__checkbox-label::after {
    content: "";
}
&__checkbox[type="checkbox"]:focus + 
&__checkbox-label::before {
    outline: #C29974 auto 5px;
}
&__checkbox-label:hover {
    text-decoration: underline;
}
}


/* _________________________delivery  */
.options-delivery {
    padding: 0 0 0 23px;
    margin: 0 0;
    &__list {
        padding-top: 16px;
    }
    &__radio {
        margin-bottom: 9px;
    }
    &__radio-input {
        position: absolute;
        opacity: 0;
    }
    &__label {
        display: flex;
        align-items: center;
        margin-left: 29px;  
    }
    &__label:before {
        content: '';
        position: absolute;
        margin-left: -30px;
        width: 20px;
        height: 20px;
        background-image: url(../img/icons/radio-off.svg);
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    &__label:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    /* checked */
    &__radio-input:checked + &__label:before {
        background-image: url(../img/icons/radio-on.svg);
        content: "";
        width: 20px;
        height: 20px;
    }
}

/* ____________________amount */


.amount {
    &__list {
        display: flex;
        margin-top: 14px;
    }
    &__bg-wrapper {
        width: 80px;
        height: 35px;
        background: #FFFFFF;
    }
    &__input {
        position: absolute;
        opacity: 0;
    } 
    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 35px;
        padding-top: 2px;
    }
    &__label:before {
        content: '';
        position: absolute;
        width: 80px;
        height: 35px;
        background-position: center;
        cursor: pointer;
    }
    &__label:hover {
        background-color: #EDDEEB;
    
        color: rgba(00, 00, 00, 0.5);
        cursor: pointer;
    }
    &__label:active  {
        color: #000000;
        background-color: #F3D0DB;
    }
    &__input[type=radio]:checked + &__label {
        content: '';
        color: #000000; 
        background-color: #F3D0DB; 
    }
}
/* ______________________________products */
.products {
    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 29px;
        margin-bottom: 55px;
    }
    &__list-item {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 16px;
        position: relative;
    }
    &__list-img {
        z-index: 1;
    }
    &__list-item:hover:after {
        content: 'learn more';
        position:absolute;
        top: 100px;
        left: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        width: 207px;
        height: 207px;
        background: #E5EAF8;
        opacity: 0.9;
        cursor: pointer;
        transition: 0.2s;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 29px;
        color: #1E0606;
        text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
    }
    &__list-item:active:after{
        background:rgba(229, 234, 248, 0.67);
    }
    &__list-header {
        font-family: 'OpenSans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #1E0606;
        padding-top: 30px;
    }
    &__list-text {
        font-family: 'OpenSans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #1E0606;
        padding-top: 16px; 
    }
}
