        <section class="breadcrumbs container">
            <h2 class="breadcrumbs__header">@@header</h2>
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item breadcrumbs__item--arrow"><a class="breadcrumbs__link" href="/index.html">Home</a></li>
                <!-- <li class="breadcrumbs__item breadcrumbs__item--active-page"><a class="breadcrumbs__link" href="@@active-link">Catalog</a></li> -->
                <li class="breadcrumbs__item breadcrumbs__item--active-page"><a class="breadcrumbs__link" href="@@active-link">@@active-name</a></li>
            </ul>
        </section>