<header class="header container">
    <a class="header__logo logo" href="./index.html" aria-label="open home page"><img class="header__img" src="./img/icons/dlk-logo.svg" alt="DLK logo" width="100" height="52"></a> 
    <nav class="header__nav nav">
        <ul class="nav__list">
            <li class="nav__list-item"><a class="nav__list-link" href="../blog.html">Blog</a></li>
            <li class="nav__list-item"><a class="nav__list-link" href="../animation.html">Animation</a></li>
            <li class="nav__list-item"><a class="nav__list-link" href="../catalog.html">Catalog</a></li>
            <li class="nav__list-item"><a class="nav__list-link" href="#">About Us</a></li>
        </ul>
    </nav>
    <button class="nav__menu-btn">menu</button>
    <ul class="header__contact search-contact">
        <li><button class="search-contact__search" type="button" aria-label="open search input"></button></li>
        <li><a class="search-contact__link" href="../contact.html">Contact us</a></li>
    </ul>
</header>