<nav class="pagination container">
    <button class="pagination-prevButton" type="button" aria-label="switch previous page"></button>
    <ul class="pagination-list">
        <li><a href="#" class="pagination-list-item active-pagination" aria-label="open first blog page">1</a></li>
        <li><a href="#" class="pagination-list-item" aria-label="open second blog page">2</a></li>
        <li><a href="#" class="pagination-list-item" aria-label="open third blog page">3</a></li>
        <li><a href="#" class="pagination-list-item" aria-label="open fourth blog page">4</a></li>
    </ul>
    <button class="pagination-nextButton" type="button" aria-label="switch next page"></button>
</nav>