<nav class="pagination container">
    <button class="pagination__prev-button" type="button" aria-label="switch previous page"></button>
    <ul class="pagination__list">
        <li class="pagination__item"><a href="#" class="pagination__link pagination__link--active" aria-label="open first blog page">1</a></li>
        <li class="pagination__item"><a href="#" class="pagination__link" aria-label="open second blog page">2</a></li>
        <li class="pagination__item"><a href="#" class="pagination__link" aria-label="open third blog page">3</a></li>
        <li class="pagination__item"><a href="#" class="pagination__link" aria-label="open fourth blog page">4</a></li>
    </ul>
    <button class="pagination__next-button" type="button" aria-label="switch next page"></button>
</nav>