<li class="category-products__item category-products__item--@@modify">
  <picture>
    <source srcset="./img/@@img-mobile.jpg, ./img/@@img-2x.jpg 2x" media="(max-width: 425px)">
    <source srcset="./img/@@img-tablet.jpg, ./img/@@img-tablet-2x.jpg 2x" media="(min-width: 426px) and (max-width: 768px)">
    <source srcset="./img/@@img.jpg, ./img/@@img-2x.jpg 2x" media="(min-width: 769px)">
    <img class="category-products__item-img" src="./img/@@img.jpg" alt="@@alt"> 
  </picture>
  <a class="category-products__item-text" href="#">@@text</a>
</li>
